.cart{
   padding: 0 100px;
}

.table-cart{
   max-width: 926px;
   width: 100%;
   margin: 0 auto;
   margin-bottom: 50px;
}

td{
   text-align: center;
}

.cart-button{
   margin-left: auto;
   margin-bottom: 50px;
}

