.sticker-item-list{
   display: grid;
   padding: 0 20px;
   margin-bottom: 40px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   row-gap: 40px;
}

.sticker-item{
   position: relative;
   margin: 0 auto;
   max-width: 288px;
   width: 100%;
   cursor: pointer;
   transition:  .3s all linear;
}

.sticker-item:hover:before{
   content: "";
   background-color: rgba(148, 148, 148, 0.1);
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 288px;
   height: 288px;
   z-index: 1;
}

.hidden{
   display: none;
}

.sticker-item__info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 169px;
   width: 100%;
   margin-left: auto;
}

.sticker-item__name{
   font-size: 20px;
   font-weight: 600;
   color: #143550;
}

.sticker-item__price{
   font-size: 24px;
   font-weight: 600;
   color: #DB2C6F;
}

.heart{
   position: absolute;
   right: 20px;
   top: 20px;
}