.sticker-item{
   position: relative;
   margin: 0 auto;
   max-width: 288px;
   width: 100%;
   cursor: pointer;
   transition:  .3s all linear;
   background-color: transparent;
}

.hidden{
   display: none;
}

.sticker-item__info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 169px;
   width: 100%;
   margin-left: auto;
}

.sticker-item__name{
   font-size: 20px;
   font-weight: 600;
   color: #143550;
}

.sticker-item__price{
   font-size: 24px;
   font-weight: 600;
   color: #DB2C6F;
}

.heart{
   position: absolute;
   right: 20px;
   top: 20px;
}