.background{
   background-size: cover;
   background-repeat: no-repeat;
}

.background-sticker{
   padding: 0 16px 150px;
   background-image: url(../../img//background//background-first-page.jpg);
}

.background-choose{
   padding: 0 16px 100px;
   background-image: url(../../img//background//background-second-page.jpg);
}