.stickersField{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 90px 0 60px 0;
}

.filter-select-group{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;
}